<div *ngIf=loading class="loading">Loading&#8230;</div>
<div  *ngIf=!loading class="container">
<ul class="cards">
    <li class="cards__item" *ngFor="let post of pagedItems ; let i = index">
      <div class="card">
        <div class="card__image card__image--fence">
            <a><img src=" https://unsplash.it/800/600?image=82"/></a>
        </div>
        <div class="card__content">
          <div class="card__title">{{post.title}}</div>
        <span class=" text-muted small" style="font-size:14px">by {{post.by}}</span>
          <p class="card__text"> {{post.blurb }}</p>
          <span class=" text-muted small" style="font-size:14px">{{post.currency}} {{post['amt.pledged']}} pledged</span>
          <span class=" text-muted small" style="font-size:14px">{{post['num.backers']}}% funded </span>
          <span class=" text-muted small" style="font-size:14px"> Backed by {{post['num.backers']}} </span>
          
          <span class=" text-muted small" style="font-size:14px">{{post.state}} ,{{post.country}}</span>
          <button class="btn btn--block card__btn">Know More</button>
        </div>
      </div>
    </li>
   
  </ul>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
</div>